* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Space, Helvetica, sans-serif, Mono, Arial;
  color: #323232;
  border: none;
  font-size: 20px;
}

body{
  background-size: cover; 
}

.fundo {
margin: 0;
padding: 0;
}

.container{
  position: relative;
  background-color: #fff;
  height: 51.2vw;
  width: 96.9vw;
  padding-left: 2vw;
  text-align: center;
}
.container,h2 {
  font-size: 1.6em;
  padding-top: 1.7vh;
  padding-bottom: 1vh;
}
h2{
    padding-left: 2vw;
    margin-bottom: 3vh;
}


.menu {
  display: inline-block;
  position: relative;
  width: 96vw;
  height: 9vh;
  left: auto;
  background-color: #E5C03B;
  text-align: center;
  padding-left: 2vw;
  padding-top: 1.5vh;
  padding-bottom: 1.25vh;
  margin-left: 2vw;
}

#cadastros{
  font-size: 2em;
  height: 100%;
  width: 37.5%;
  float: left;
  position: relative;
  color: #ff0000;
}

#presencas{
  position: relative;
  margin-right:0;
  height: 100%;
  width: 20%;
  display: inline-block;
}

a{
  font-size: 2em;
  color: #000;
  text-decoration: none;
  margin-bottom: 0.25vh;
}


a:hover{
  color: #ff0000;
}

#edicoes{
  position: relative;
  margin-right:0;
  height: 100%;
  width: 39%;
  display: inline-block;
}

.menu2{
  height: 70.6vh;
}

#left{
  width: 50%;
  height: 100%;
  float: left;
  align-items: center;
  text-align: center;
}

#right{
  width: 50%;
  float: right;
  height: 100%;
  align-items: center;
  text-align: center;
}

#botao {
  margin-top: 9vh;
  height: 8vh;
  text-align: center;
  padding: 0;
  width: 24vw;
  border-radius: 50px;
  font-size: 0.6em;
  outline: 0px auto;
  outline-offset: 0px;
  border: none;
}
#botao:hover {
  cursor: pointer;
}

.yellow{
  margin-top: 1vh;
  background-color: #E5C03B;
  color: #000;
}
.yellow:hover{
  background-color: darkgoldenrod;
}

.left1 {
  padding-top: 1.5vh;
  position: absolute;
  width: 59px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #002339;
  ;
}

.barra img{
  width: 4vw;
  height: 6vh;
}
#selected {
  color: #002339;
}

@media screen and (max-width: 480px) {
  * {
    height: 13vh;
    font-size: 14px;
  }
 
  .container{
    margin-top: 4vh;
    background-color: #002339;
    height: 17vh;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .container,h2 {
    color: #fff;
    font-size: 1.5em;
    padding-top: 3.2vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .menu {
    align-items: center;
    margin-left: 0;
    width: 100%;
    height: 9vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
  }
  
  #cadastros{
    width: 20vw;
    float: left;
  }
  
  #presencas{
    margin-right:0;
    width: 23vw;
    float: center;
  }
  
  #edicoes{
    float: right;
    width: 20vw;
  }
  
  .menu2{
    margin: 0;
    padding-top: .7vh;
    float: top;
  }
  
  #left{
    width: 100%;
    height: 33vh;
  }
  
  #right{
    width: 100%;
    height: 33vh;
  }
  
  #botao {
    margin-top: 2.8vh;
    height: 8vh;
    width: 50vw;
    border-radius: 50px;
    font-size: 0.7em;
    outline: 0px auto;
    outline-offset: 0px;
    border: none;
  }
  #botao:hover {
    cursor: pointer;
  }
  
  .yellow{
    margin-top: 1vh;
    background-color: #E5C03B;
    color: #000;
  }
  .yellow:hover{
    background-color: darkgoldenrod;
  }
  
  .barra img{
    margin-left: 1vh;
    width: 9vw;
    height: 6vh;
  }

  .link{
    float: left;
  }
}
