* {
    margin: 0;
    padding: 0;
    font-family: Space, Helvetica, sans-serif, Mono, Arial;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.navabas{
    top: -50px;
    margin: 100px;
    position: relative;
}

.navabas ul{
    list-style: none;
}

.navabas ul li{
    float: left;
}

.navabas label{
    width: 190px;
    padding: 20px;
    background-color: rgba(0, 35, 57, 0.521);;
    display: block;
    color: white;
    cursor: pointer;
    border-left: 1px solid black;
}

.radio_aba:checked ~ label{
    background-color: rgba(0, 35, 57, 0.83);
}

.radio_aba{
    display: none;
}

.content{
    border-top: 5px solid rgba(0, 35, 57, 0.83);
    display: none;
    position: absolute;
    width: 1140px;
    height: 600px;
    left: 0;
}

.radio_aba:checked ~ .content{
    display: block;
}

.titulo{
    background: lightslategray;
    color: white;
    font-weight: bold;
    text-align: center;
}
table {
    border: solid 1px black;
    margin: auto;
    border-collapse: collapse;
    border-radius: 10px;
    margin-top: 1%;
}

td {
    border: solid 1px black;
    padding: 5px;
    background: lightgray;
}

.deletar {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.editar {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}


.op{
  margin-right: 1vw;
  height: 3vh;
  width: 98%;
  float: center;
  text-align: right;
}

#perfil:hover{
  color:#ff0000;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
    * {
      height: 13vh;
      font-size: 14px;
    }
    
    .menu {
      padding-bottom: 0;
    }
    
    .menu2{
      margin: 0;
      padding-top: .7vh;
      float: top;
      text-align: center ;
      color: #ff0000;
    }
  
    .container,h2 {
      padding-top: 2.2vh;
    }
    h2{
      padding-left: 12%;
      margin-bottom: 1vh;
    }
  
    #left{
      width: 100%;
      height: 33vh;
    }
    
    #right{
      width: 100%;
      height: 33vh;
    }
    
    #botao {
      margin-top: 2.8vh;
      height: 8vh;
      width: 50vw;
      border-radius: 50px;
      font-size: 0.7em;
      outline: 0px auto;
      outline-offset: 0px;
      border: none;
    }
    #botao:hover {
      cursor: pointer;
    }
    
    .left1 {
      padding-top: 2vh;
      width: 100%;
      height: 10vh;
    }
    
    .barra img{
      margin-left: 1vh;
      width: 9vw;
      height: 6vh;
    }
  
    .link{
      float: left;
    }

    h1 {
        font-size: 35px;
    }

    .content{
        display: none;
        position: absolute;
        width: 1140px;
        height: 600px;
        left: 0;
    }

    .navabas label{
        width: 90px;
        height: 30px;
        margin: 0;
        font-size: smaller;
        padding: 5px;
        display: inline-block;
    }

    tr{
        font-size: .2em;
    }

    .lados {
        height: 500vh;
        width: 500vh;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    td {
      font-size: 4em;
    }
}

#pesquisar {
  width: 188px;
  margin-right: 0;
  float: right;
  margin-bottom: 0;
  font-size: 13px;
  background-color: transparent;
  color: #000;
}

#pesquisar {
  width: 500px;
  margin-right: 10%;
  float: right;
  margin-top: 0%;
}

input {
  font-size: 15px;
  margin-left: 40px;
  width: 960px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 15px;
}

input:focus {
  border-color: lightseagreen;
  outline: 0;
}